@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Instrument Sans", sans-serif;
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    background-color: #F2F1F0;
}

.navbar {
    display: flex;
    position: absolute;
    width: 770px;
    height: 91px;
    
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

#logo_titulo {
    width: 150px;
    height: 100px;  
}

#logo_login {
    width: 100px;
    height: 65px;  
}

/* BANNER */

.banner {
    display: flex;
    background-image: url('./assets/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-color: #F2F1F0;
}

.banner h2 {
    color: white;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
}

/* CONTAINER */

#container {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
}


/* FILTRO */

.filtro {
    flex-direction: column;
    background-color: #D9D9D9;
    width: 17%;
    height: 50%;
    border-radius: 15px;
}

.line {
    text-decoration: line-through black 3px;
}

.filtro_tipo {
    gap: 2%;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.details_filtro {
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
}

/* COVERS */

.catalogo {
    display: flex;
    flex-direction: column;
}

.list_covers {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.covers_img {
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

.titulo_cover {
    font-weight: bold;
    text-align: center;
    margin: 3px;
    margin-top: 10px;
}

.details {
    text-align: center;
    align-content: center;
    margin: 3px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    margin-top: 130px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: fit-content;
}

footer p {
    font-size: 20px;
    font-weight: bold;
}

footer span {
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
}

footer img {
    margin-left: 55%;
}
















/* LOGIN */

.body_login {
    background-image: url('./assets/bannerlogin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container_login {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(217,217,217, 0.75);
    width: 700px;
    height: 500px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 200px;
}

.login {
    align-content: center;
}

.meio {
    align-content: center;
    justify-content: center;
}

#botao_login {
    border-radius: 20px;
    background-color: #A8D39D;
    border: 0;
    height: 60px;
    width: 90px;


    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#p_senha {
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}

/* CADASTRO */

.cadastro {
    align-self: center;
    margin-left: 50px;
}














